@charset "utf-8";
@import "./reset";
@import "./variables";
@import "./flex";
//===================================================
//====================常用动画========================
//===================================================
@mixin transform($value) {
    -webkit-transform: $value;
    transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
}
@mixin transition($value) {
    -webkit-transition: $value;
    transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
}
@mixin animation($animationName) {
    -webkit-animation: $animationName;
    -ms-animation: $animationName;
    -moz-animation: $animationName;
    -o-animation: $animationName;
    animation: $animationName;
}
@mixin keyframes($animationName) {
     @-webkit-keyframes #{$animationName}{
        @content;
    }
    @-moz-keyframes #{$animationName} {
         @content;
    }
    @-o-keyframes #{$animationName} {
         @content;
    }
    @-ms-keyframes #{$animationName} {
         @content;
    }
    @keyframes #{$animationName} {
         @content;
    }
}
