@charset "UTF-8";
a,
applet,
article,
aside,
b,
blockquote,
body,
canvas,
caption,
center,
dd,
details,
dl,
dt,
em,
embed,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
legend,
li,
menu,
nav,
object,
ol,
p,
pre,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  /*防止点击闪烁*/
  -webkit-tap-highlight-color: transparent;
  /*缩放网页，文字大小不变*/
  -webkit-text-size-adjust: none;
  /*禁止选择*/
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 100%;
  vertical-align: baseline;
}

address,
article,
aside,
details,
figcaption,
figure,
footer,
header,
legend,
menu,
nav,
section,
section {
  display: block;
  margin: 0;
  padding: 0;
}

time {
  display: inline;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

img {
  border: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/*重置部分表单圆角和内阴影*/
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/*去除文本框上下箭头*/
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  /*ios禁止页面在新窗口打开*/
  -webkit-touch-callout: none;
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "";
  border: 1px solid #919191;
  font-size: 11px;
  line-height: 10px;
  margin: 0 5px 0 0;
  height: 10px;
  width: 10px;
  text-align: center;
  vertical-align: middle;
  padding: 1px 3px;
}

input[type=checkbox]:checked + label:before {
  content: "\2713";
}

input[type=checkbox] + label:before {
  content: "\2713";
  color: transparent;
  transition: color ease 0.3s;
}

input[type=checkbox]:checked + label:before {
  color: #333;
}

input[type=radio] + label:before {
  content: "\26AB";
  border: 1px solid #919191;
  border-radius: 50%;
  font-size: 0;
  transition: font-size ease 0.3s;
}

input[type=radio]:checked + label:before {
  font-size: 10px;
}

.icons-sprite, .icon-bottom-arrow-0, .icon-gcmj, .icon-right-arrow, .icon-school, .icon-subject-name, .icon-subject-score, .icon-toggle-location, .icon-type-0, .icon-type-1, .icon-type-2 {
  background-image: url('../img/sprites-icons.png');
  background-repeat: no-repeat;
}

.icon-bottom-arrow-0 {
  background-position: 0 0;
  height: 24px;
  width: 42px;
}

.icon-gcmj {
  background-position: 0 -26px;
  height: 98px;
  width: 120px;
}

.icon-right-arrow {
  background-position: 0 -126px;
  height: 17px;
  width: 11px;
}

.icon-school {
  background-position: 0 -145px;
  height: 44px;
  width: 47px;
}

.icon-subject-name {
  background-position: 0 -191px;
  height: 36px;
  width: 37px;
}

.icon-subject-score {
  background-position: 0 -229px;
  height: 42px;
  width: 37px;
}

.icon-toggle-location {
  background-position: 0 -273px;
  height: 48px;
  width: 33px;
}

.icon-type-0 {
  background-position: 0 -323px;
  height: 23px;
  width: 23px;
}

.icon-type-1 {
  background-position: 0 -348px;
  height: 23px;
  width: 23px;
}

.icon-type-2 {
  background-position: 0 -373px;
  height: 23px;
  width: 23px;
}

.icon-bottom-arrow-0 {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 21px;
  height: 12px;
  position: relative;
  top: 5px;
  background-position: 0 0;
}

.icon-gcmj {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 60px;
  height: 49px;
  position: relative;
  top: 5px;
  background-position: 0 -13px;
}

.icon-right-arrow {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 6px;
  height: 9px;
  position: relative;
  top: 5px;
  background-position: 0 -63px;
}

.icon-school {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 24px;
  height: 22px;
  position: relative;
  top: 5px;
  background-position: 0 -72px;
}

.icon-subject-name {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 19px;
  height: 18px;
  position: relative;
  top: 5px;
  background-position: 0 -95px;
}

.icon-subject-score {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 19px;
  height: 21px;
  position: relative;
  top: 5px;
  background-position: 0 -114px;
}

.icon-toggle-location {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 17px;
  height: 24px;
  position: relative;
  top: 5px;
  background-position: 0 -136px;
}

.icon-type-0 {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 12px;
  height: 12px;
  position: relative;
  top: 5px;
  background-position: 0 -161px;
}

.icon-type-1 {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 12px;
  height: 12px;
  position: relative;
  top: 5px;
  background-position: 0 -174px;
}

.icon-type-2 {
  -webkit-background-size: 60px 198px;
  background-size: 60px 198px;
  width: 12px;
  height: 12px;
  position: relative;
  top: 5px;
  background-position: 0 -186px;
}

[class^="i-"],
[class^="icon-"] {
  display: inline-block;
  vertical-align: auto;
}

body,
html {
  min-width: 320px;
}

.hide {
  display: none;
}

.v-hide {
  visibility: hidden;
}

.header-title {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  background-color: #D80C18;
  text-align: center;
}

/* 箭头
arrow(direction,
size,
color);
*/
.flex-block {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-block .col-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-block .col-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-block .col-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-block .col-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-block .col-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.flex-block .col-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.flex-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex-inline .col-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-inline .col-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-inline .col-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-inline .col-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-inline .col-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.flex-inline .col-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

body {
  background-color: #efefef;
}

.result-section {
  margin: 15px auto;
  background-color: #fff;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.result-section .section-title {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
}
.result-section .section-title:before {
  content: '';
  color: #D80C18;
  width: 4px;
  height: 15px;
  line-height: 20px;
  display: inline-block;
  background-color: #D80C18;
  position: relative;
  top: 1px;
}
.result-section .section-title .intro-txt {
  color: #575757;
  font-size: 14px;
  margin: 15px 2px;
  font-weight: normal;
}

.analyse-base-info .analyse-legend {
  margin-right: 15px;
  width: 73px;
  height: 94px;
}
.analyse-base-info .analyse-info {
  font-weight: bold;
  margin-bottom: 10px;
}
.analyse-base-info .analyse-info .subject-type {
  margin-right: 15px;
}
.analyse-base-info .anlyse-subject .col-1 {
  font-size: 14px;
  color: #4a4a4a;
  min-width: 80px;
  margin-bottom: 5px;
}
.analyse-base-info .anlyse-subject .col-1 .list-subjct {
  min-width: 50px;
}
.analyse-base-info .analyse-infomation {
  font-size: 10px;
  font-weight: normal;
  line-height: 15px;
}
.analyse-base-info .analyse-infomation .over-num,
.analyse-base-info .analyse-infomation .over-percent,
.analyse-base-info .analyse-infomation .rank-num-text {
  color: #D80C18;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table tbody tr td,
table thead tr th {
  border: 1px solid #f1f1f1;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

table thead tr th {
  background: #f5f5f5;
  border-bottom: none;
}

.sub-small-title {
  color: #575757;
  font-size: 14px;
  margin: 15px 2px;
}
.sub-small-title:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #D80C18;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -1px;
  left: -2px;
}
.sub-small-title .intro-txt {
  margin-top: 10px;
}

.chart-tab {
  margin: 0 8%;
}
.chart-tab .tab {
  cursor: pointer;
  font-size: 12px;
  border: 1px solid #f88432;
  border-radius: 3px;
  height: 24px;
  line-height: 24px;
  min-width: 110px;
  text-align: center;
  color: #f88432;
}
.chart-tab .mrP3 {
  margin-right: 4%;
}

.recommond-school table {
  color: #575757;
  font-size: 14px;
  margin-bottom: 15px;
}
.recommond-school table tbody tr td i {
  position: relative;
  top: 1px;
  left: -3px;
}
.recommond-school table th {
  font-weight: normal;
}
.recommond-school table .type-0 {
  color: #44C5A8;
}
.recommond-school table .type-1 {
  color: #4A90E2;
}
.recommond-school table .type-2 {
  color: #F58023;
}

.prompt-txt {
  font-size: 12px;
  line-height: 16px;
  color: #8b8b8b;
}

.select-itme {
  font-size: 12px;
}
.select-itme .input-school {
  width: 100%;
  padding: 2px 10px;
  border-radius: 2px;
}
.select-itme .select-batch {
  margin: 0 20px;
  display: block;
  width: 100%;
  height: 28px;
  padding: 0 10px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.select-itme .btn-confirm {
  width: 100%;
  background-color: #D80C18;
  text-align: center;
  height: 26px;
  line-height: 26px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.how-dream-result {
  margin: 10px 0;
}
.how-dream-result .icon-gcmj {
  min-width: 65px;
  margin-right: 10px;
}
.how-dream-result .dream-batch,
.how-dream-result .dream-school-name,
.how-dream-result .live-up,
.how-dream-result .over-height {
  color: #D80C18;
  font-size: 14px;
}
.how-dream-result .dream-school-name {
  cursor: pointer;
  margin-right: 20px;
  text-decoration: underline;
}
.how-dream-result .dream-txt {
  font-weight: bold;
  font-size: 12px;
  margin: 10px 0;
  line-height: 18px;
}
.how-dream-result .dream-tips {
  font-size: 12px;
}

.instructions-text {
  font-size: 12px;
  line-height: 16px;
  color: #8b8b8b;
}

.mb0 {
  margin-bottom: 0;
}
