@import "common";
body {
    background-color: #efefef;
}
// 成绩分析公用部分
.result-section {
    margin: 15px auto;
    background-color: #fff;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    .section-title {
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 15px;
        &:before {
            content: '';
            color: #D80C18;
            width: 4px;
            height: 15px;
            line-height: 20px;
            display: inline-block;
            background-color: #D80C18;
            position: relative;
            top: 1px;
        }
        .intro-txt {
            color: #575757;
            font-size: 14px;
            margin: 15px 2px;
            font-weight: normal;
        }
    }
}
// 我的成绩
.analyse-base-info {
    .analyse-legend {
        margin-right: 15px;
        width: 73px;
        height: 94px;
    }
    .analyse-info {
        font-weight: bold;
        margin-bottom: 10px;
        .subject-type {
            margin-right: 15px;
        }
    }
    .anlyse-subject {
        .col-1 {
            font-size: 14px;
            color: #4a4a4a;
            min-width: 80px;
            margin-bottom: 5px;
            .list-score {}
            .list-subjct {
                min-width: 50px;
            }
        }
    }
    .analyse-infomation {
        font-size: 10px;
        font-weight: normal;
        line-height: 15px;
        .over-num,
        .over-percent,
        .rank-num-text {
            color: $mainRed;
        }
    }
}
// 成绩统计
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table tbody tr td,
table thead tr th {
    border: 1px solid #f1f1f1;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
table thead tr th {
    background: #f5f5f5;
    border-bottom: none;
}
.sub-small-title {
    color: #575757;
    font-size: 14px;
    margin: 15px 2px;
    &:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #D80C18;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        top: -1px;
        left: -2px;
    }
    .intro-txt {
        margin-top: 10px;
    }
}
.chart-tab {
    $yellowColor: #f88432;
    margin: 0 8%;
    .tab {
        cursor: pointer;
        font-size: 12px;
        border: 1px solid $yellowColor;
        border-radius: 3px;
        height: 24px;
        line-height: 24px;
        min-width: 110px;
        text-align: center;
        color: $yellowColor;
    }
    .mrP3 {
        margin-right: 4%;
    }
}
.recommond-school {
    table {
        color: #575757;
        font-size: 14px;
        margin-bottom: 15px;
        tbody tr td {
            i {
                position: relative;
                top: 1px;
                left: -3px;
            }
        }
        th {
            font-weight: normal;
        }
        .type-0 {
            color: #44C5A8;
        }
        .type-1 {
            color: #4A90E2;
        }
        .type-2 {
            color: #F58023;
        }
    }
}
.prompt-txt {
    font-size: 12px;
    line-height: 16px;
    color: #8b8b8b;
}
.select-itme {
    font-size: 12px;
    .input-school {
        width: 100%;
        padding: 2px 10px;
        border-radius: 2px;
    }
    .select-batch {
        margin: 0 20px;
        display: block;
        width: 100%;
        height: 28px;
        padding: 0 10px;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
    }
    .btn-confirm {
        width: 100%;
        background-color: $mainRed;
        text-align: center;
        height: 26px;
        line-height: 26px;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
    }
}
.how-dream-result {
    margin: 10px 0;
    .icon-gcmj {
        min-width: 65px;
        margin-right: 10px;
    }
    .dream-batch,
    .dream-school-name,
    .live-up,
    .over-height {
        color: $mainRed;
        font-size: 14px;
    }
    .dream-school-name {
        cursor: pointer;
        margin-right: 20px;
        text-decoration: underline;
    }
    .dream-txt {
        font-weight: bold;
        font-size: 12px;
        margin: 10px 0;
        line-height: 18px;
    }
    .dream-tips {
        font-size: 12px;
    }
}
.instructions-text {
    font-size: 12px;
    line-height: 16px;
    color: #8b8b8b;
}
.mb0 {
    margin-bottom: 0;
}
