

header {
  position: relative;
  overflow: hidden; }
header .header-title {
  padding-left: 46px; }
header .header-btn {
  position: absolute;
  height: 25px;
  top: 6px;
  left: 9px; }
header .location {
  font-size: 12px;
  vertical-align: 2px;
  margin-left: 1px; }
header .location.location-icon:before {
  vertical-align: -6px;
  margin-right: 4px; }
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  background: #ececec;
}
.container{
  padding: 38px 18px;
  .wrapper{
    width: 100%;
    position: relative;
    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .page{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 18px;
      h1{
        font-size: 20px;
        text-align: center;
        color: #D80C18;
        margin: 20px 0;
        padding: 0;
      }
      h4{
        color: #575757;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        margin: 20px 0;
        padding: 0;
      }
      .order-number{
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border: 1px solid #D80C18;
        margin: 20px 0;
        color:#d80c18;
        font-size: 18px;
      }
      p{
        margin-top: 20px;
        line-height: 1.5;
        color: #575757;
        font-size: 14px;
      }
      .phone{
        color: #575757;
        font-size: 14px;
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px dashed #DADADA;
        span{
          color: #D80C18;
        }
      }
      .address-lable{
        color: #575757;
        font-size: 14px;
        margin-top: 30px;
      }
      .address{
        color:#d80c18;
        font-size: 14px;
        line-height: 1;
      }
    }
  }
}