//header bar
header {
  position: relative;
  overflow: hidden;

  .header-title {
    padding-left: 46px;
  }
  .header-btn {
    position: absolute;
    height: 25px;
    top: 6px;
    left: 9px;
  }
  .location {
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 1px;
    &.location-icon:before {
      vertical-align: -6px;
      margin-right: 4px;
    }
  }
}

.container {
  position: relative;
  .header {
    text-align: center;
    font-size: 12px;
    position: relative;
    height: 33px;
    line-height: 33px;
    color: #8C8C8C;
    border-bottom: 1px solid #E8E8E8;

    i {
      position: absolute;
      right: 13px;
      top: 3px;
      height: 30px;

      &.active:before {

      }
    }
  }
  .content {
    padding: 15px 20px;

    .title {
      color: #575757;
      text-align: center;
      font-size: 16px;
      line-height: 22.5px;
      font-weight: bold;
    }
    .date {
      color: #8C8C8C;
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
    }
    .detail p {
      color: #707070!important;
      font-size: 14px;
      line-height: 24px;
      text-indent: 24px;
    }
  }
}
.calendar-drop-down {
  position: absolute;
  z-index: 3;
  background-color: #fff;
  right: 0;
  top: 34px;
  width: 144px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 12px;
  box-shadow: -2px 3px 10px #B5AEAE;

  &:before {
    content: "";
    border-top: none;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 8px solid #E8E8E8;
    position: absolute;
    top: -8px;
    right: 20px;
  }
  &:after {
    content: "";
    border-top: none;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -6px;
    right: 20px;
  }

  .month-list {
    padding-bottom: 5px;

    &:after {
      content: "";
      display: block;
      width: 115px;
      height: 1px;
      background-color: #B4B4B4;
      margin-left: 5px;
      position: relative;
      bottom: -2px;
    }
  }
  li {
    float: left;
    color: #979797;
    border: 1px solid #979797;
    border-radius: 2px;
    margin: 7px;
    width: 26px;
    height: 17px;
    line-height: 17px;
    text-align: center;

    &.active {
      background-color: #D80C18;
      color: #fff;
      border-color: #D80C18;
    }
  }
  .title {
    color: #D80C18;
    padding: 4px 5px;
  }
}