html {
  height: 100%;
  background-color: #F6F6F6;
}
//header bar
header {
  position: relative;
  overflow: hidden;

  .header-title {
    padding-left: 46px;
  }
  .header-btn {
    position: absolute;
    height: 25px;
    top: 6px;
    left: 9px;
  }
  .location {
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 1px;
    &.location-icon:before {
      vertical-align: -6px;
      margin-right: 4px;
    }
  }
}
.container-header {
  margin-bottom: 20px;
  .right {
    margin-right: 10px;
    margin-top: 8px;

    img {
      width: 17px;
      vertical-align: bottom;
    }
    a {
      font-size: 12px;
      color: #707070;
    }
  }
  .count {
    text-align: center;
    color: #575757;
    margin-top: 14px;
    font-size: 18px;
  }
  .link {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    a {
      color: #D80C18;
    }
  }
}
.container-content {
  margin-top: 30px;
  .detail-list {
    margin-bottom: 10px;
    color: #707070;
    li {
      height: 47px;
      line-height: 47px;
      border-bottom: 1px solid #E9E4E4;
      font-size: 14px;
      padding: 0 17px;
      &:not(:first-child) {
        font-size: 12px;
        height: 42px;
        line-height: 42px;
      }
    }
  }
}
#intro-img {
  margin: 40px auto;
  display: block;
  width:90%;
  overflow: hidden;
}
.text-box{
  padding:0 20px;
}
.txt{
  text-indent:2em;
  font-size:14px;
  line-height:24px;
}
.tab{
  width: 100%;
  padding: 0 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 42px;
  line-height: 42px;
  overflow: hidden;
  span{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: #707070;
    border: 1px solid #E1E1E1;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #E9E9E9;
    &.on{
      background: #fff;
    }
    &:first-child{
      border-right: none;
    }
  }
}
.tip-info{
  width: 100%;
  padding: 10px 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #707070;
}

.present-record{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #E8E8E8;
  background-color: #fff;
  li{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    font-size: 14px;
    color: #707070;
    border-bottom: 1px solid #E8E8E8;
    span.left{
      float: left;
      margin-left: 18px;
    }
    span.right{
      float: right;
      margin-right: 18px;
    }
  }
}
section{
  border-top: 1px solid #E8E8E8;
  margin-top: 10px;
  background-color: #fff;
}
.income-detail{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #E8E8E8;
  li{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
    font-size: 14px;
    color: #707070;
    border-bottom: 1px solid #E8E8E8;
    p{
      overflow: hidden;
      padding: 0px 18px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      &:first-child{
        margin-top: 10px;
      }
      span.left{
        float: left;
      }
      span.right{
        float: right;
      }
      &.from-user{
        font-size: 14px;
        color: #C9C9C9;
      }
    }
  }
}

.sqtx{
  width: 100%;
  text-align: center;
  color: #D80C18;
  font-size: 14px;
  margin-top: 10px;
  a{
    text-decoration: underline;
    color: #D80C18;
  }
}

.pull{
  width: 100%;
  text-align: center;
  .pull-text{
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #8C8C8C;
    font-size: 12px;
  }
}

.infinite-scroll-preloader {
  text-align: center;
  display: none;
}

.preloader {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s steps(12, end) infinite;
  animation: preloader-spin 1s steps(12, end) infinite;
}
.preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
@-webkit-keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.no-data{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}