html {
  height: 100%;
  background-color: #F6F6F6;
}

//header bar
header {
  position: relative;
  overflow: hidden;

  .header-title {
    padding-left: 46px;
    font-size: 20px;
  }
  .header-btn {
    position: absolute;
    &:first-child {
      height: 25px;
      top: 6px;
      left: 9px;
    }
    &:last-child {
      height: 25px;
      top: 7px;
      right: 13px;
    }
  }
  .location {
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 1px;
    &.location-icon:before {
      vertical-align: -6px;
      margin-right: 4px;
    }
  }
}

//main content
.container {
  background-color: #F6F6F6;
  padding: 48px 25px 0;

  .tab-list {
    height: 46px;
    background-color: #fff;
    line-height: 46px;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    margin-bottom: 12px;

    .tab {
      width: 49%;
      display: inline-block;
      text-align: center;
      font-size: 18px;
      color: #575757;
      position: relative;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      -moz-tap-highlight-color: transparent;
      -ms-tap-highlight-color: transparent;
      tap-highlight-color: transparent;
      &:first-child:after {
        content: "";
        display: block;
        background-color: #E8E8E8;
        width: 1px;
        height: 28px;
        position: absolute;
        right: -2px;
        top: 10px;
      }

      &.active {
        color: #D80C18;
      }
    }
  }

  .form-group {
    margin-bottom: 12px;
    .input-group {
      i {
        position: absolute;
        left: 9px;
        top: 10px;
      }
    }
    .title {
      color: rgb(127, 123, 123);
      margin: 3px 0;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
    .check-code {
      width: calc(100% - 160px);
    }
    .location-list {
      display: flex;
      margin-bottom: 12px;
      .location-option-list {
        background-color: #fff;
        border: 1px solid #E8E8E8;
        border-radius: 2px;
        flex: 1;
        margin-right: 7px;
        height: 39px;
        line-height: 39px;
        position: relative;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 12px;
          right: 12px;
          border-top: none;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          border-bottom: 10px solid #9B9B9B;
        }
        &:last-child {
          margin-right: 0;
        }
        span {
          margin-left: 14px;
          font-size: 13px;
        }
      }
    }
    &:nth-of-type(2) {
      margin-bottom: 0;
      input[type=button] {
        float: right;
        background-color: #fff;
        border: 1px solid #D80C18;
        width: 100px;
        height: 41px;
        color: #D80C18;
      }
    }
    &:last-child {
      margin-top: 20px;
    }
    .submit-btn {
      padding: 0;
      height: 44px;
      line-height: 44px;
      text-align: center;
      font-size: 18px;
      color: #fff;
      background-color: #D80C18;
      width: 100%;
      border: none;
      border-radius: 2px;
      &:hover {
        background-color: #B61F28;
      }
    }
  }
}

#login {
  .form-group {
    margin-top: 35px;
    &:nth-child(2) {
      margin-top: 0;
    }
    &:nth-child(4) {
      margin-top: 63px;
    }
  }
  .reset-password {
    text-align: right;
    font-size: 14px;
    color: #8c8c8c;
    text-decoration: underline;
    margin-top: 13px;
  }
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.btn-code {
  outline: none;
  border: 1px solid #d80c18;
  background-color: #fff;
  border-radius: 2px;
  margin-left: 10px;
  width: 120px;
  color: #d80c18;
  font-size: 16px;
  height: 46px;
  line-height: 40px;
  &:hover {
    background-color: #d80c18;
    color: #fff;
  }
}

.areaSel span.select {
  height: 46px;
  line-height: 46px;
  display: inline-block;
  width: 115px;
  border: 1px solid #e5e5e5;
  outline: none;
  background: #fff;
  margin-right: 10px;
  &:last-of-type {
    margin-right: 0;
  }
}
.areaSel select.form-control {
  width: 90%;
  height: 38px;
  border: none;
  border: 0;
  background: none;
  font-size: 14px;
}


.reset-password {
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 13px;
  a {
    color: #8c8c8c !important;
  }
}
.reg-center {
  text-align: center;
}

a, button, input {
  -webkit-appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}








