html {
  height: 100%;
  background-color: #F6F6F6;
}
//header bar
header {
  position: relative;
  overflow: hidden;

  .header-title {
    padding-left: 46px;
  }
  .header-btn {
    position: absolute;
    height: 25px;
    top: 6px;
    left: 9px;
  }
  .location {
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 1px;
    &.location-icon:before {
      vertical-align: -6px;
      margin-right: 4px;
    }
  }
}

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.order-list {
  font-size: 14px;
  padding: 10px;
  .order-item {
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    padding: 10px;
    .title{
      border-bottom: 1px solid #aeaeae;
      height: 36px;
      line-height: 36px;
      background: url("../../img/icons/payed.png") left center no-repeat;
      background-size: 24px;
      padding-left: 30px;
      color: #575757;
      overflow: hidden;
      font-size: 14px;
      &.payying{
        border-bottom: 1px solid #D80C18;
        color: #D80C18;
        background: url("../../img/icons/paying.png") left center no-repeat;
        background-size: 24px;
      }
      .order-icon{
        float: right;
        display: block;
        .delete{
          display: inline-block;
          height: 36px;
          width: 36px;
          background: url("../../img/icons/delete.png") center center no-repeat;
          background-size: 24px;
        }
        .payed{
          display: inline-block;
          height: 24px;
          line-height: 24px;
          text-align: center;
          width: 60px;
          font-size: 12px;
          position: relative;
          top: -14px;
        }
        .paying{
          display: inline-block;
          height: 24px;
          line-height: 24px;
          text-align: center;
          border: 1px solid #D80C18;
          width: 60px;
          font-size: 12px;
          color: #D80C18;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          position: relative;
          top: -14px;
        }
      }
    }
    .item-li{
      font-size: 14px;
      color: #575757;
      margin-top: 10px;
      span{
        color: #D80C18;
      }
    }
    .img-paid {
      position: absolute;
      width: 76px;
      right: 100px;
      top: -14px;
    }
    &.unpaid {
      .item-list li:nth-child(1) {
        span:nth-child(1),
        span:nth-child(2) {
          color: #D80C18;
        }
        span:last-child {
          border: 1px solid #D80C18;
          color: #D80C18;
        }
      }
    }
  }

}
.item-list li {
  font-size: 16px;
  padding: 11px 18px;
  border-bottom: 1px solid #E9E4E4;
  color: #8c8c8c;
  background-color: #fff;
  &:nth-child(1){
    span:nth-child(2) {
      margin-left: 14px;
    }
    span:last-child {
      float: right;
      border: 1px solid transparent;
      font-size: 12px;
      padding: 3px;
      display: inline-block;
      position: relative;
      bottom: 3px;
      border-radius: 2px;
    }
  }
  &:nth-child(2){
    span:last-child {
      margin-left: 7px;
      border-radius: 2px;
    }
  }
}

.pull{
  width: 100%;
  text-align: center;
  .pull-text{
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #8C8C8C;
    font-size: 12px;
  }
}

.infinite-scroll-preloader {
  text-align: center;
  display: none;
}

.preloader {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s steps(12, end) infinite;
  animation: preloader-spin 1s steps(12, end) infinite;
}
.preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
@-webkit-keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10600;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  &.modal-overlay-visible{
    visibility: visible;
    opacity: 1;
  }
}
.modal{
  width: 300px;
  height: 200px;
  position: fixed;
  z-index: 11000;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
  transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  background: #fff;
  font-size: 16px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  &.modal-in{
    opacity: 1;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }
  .modal-title{
    width: 100%;
    background: #D80C18;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
  }
  .modal-body{
    width: 100%;
    .delete{
      width: 100%;
      margin: 30px auto;
      text-align: center;
      span{
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding-left: 50px;
        margin: 0 auto;
        background: url("../../img/icons/delete.png") left center no-repeat;
        font-size: 14px;
        color: #575757;
      }
    }
    .btn{
      width: 100%;
      text-align: center;
      span{
        display: inline-block;
        width: 110px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 16px;
        color: #B7B7B7;
        border: 1px solid #B7B7B7;
        background: #fff;
        margin: 0 15px;
        &.active{
          color: #fff;
          background: #D80C18;
          border: none;
        }
      }
    }
  }
}

.no-shopping{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  text-align: center;
  img{
    width: 80px;
  }
  p{
    color: #8C8C8C;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
  }
}
