header {
  position: relative;
  overflow: hidden;

  .header-title {
    padding-left: 46px;
  }
  .header-btn {
    position: absolute;
    height: 25px;
    top: 6px;
    left: 9px;
  }
  .location {
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 1px;
    &.location-icon:before {
      vertical-align: -6px;
      margin-right: 4px;
    }
  }
}
.container-header {
  padding: 20px 0 16px;

  .img img{
    width: 80px;
  }

  .title {
    color: #575757;
    font-weight: bold;
    font-size: 19px;
    margin-top: 6px;
  }
  .description {
    margin-top: 4px;
    font-size: 13px;
    line-height: 19px;
    color: #8C8C8C;
  }
  .summary {
    width: calc(100% - 110px);
  }
  .tags {
    height: 33px;
    margin-top: 3px;
    line-height: 33px;
    font-size: 12px;
    color: #8C8C8C;

    span:nth-child(2) {
      margin-left: 3px;
    }

    span.right {
      float: right;
      font-size: 12px;
      color: #D80C18;
      border: 1px solid #D80C18;
      border-radius: 3px;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      text-align: center;
      font-weight: bold;
      width: 60px;
      margin-right: 11px;
      margin-top: 3px;
    }
  }
}
.tab-list {
  display: flex;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  color: #8C8C8C;
  border-top: 1px solid #CFCFCF;

  .tab {
    flex: 1;
    text-align: center;
    border-bottom: 1px solid #CFCFCF;
    position: relative;

    &:not(:last-child):after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 26px;
      background-color: #CFCFCF;
      position: absolute;
      right: -2px;
      top: 5px;
    }
    &.active {
      border-bottom: 1px solid #D80C18;
      color: #D80C18;
    }
  }
}
.tab-content-list {
  .tab-content {
    padding: 17px;
    font-size: 12px;
    line-height: 20px;
    color: #707070;

    .content {
      margin-bottom: 20px;
    }

    //&:nth-child(2) {
    table {
      width: 100%;
      margin-top: 7px;
      border-collapse:collapse;
      thead th {
        background-color: #D80C18;
        color: #fff;
        text-align: center;
        border: 1px solid #D80C18;
        width: 50%;
        padding: 5px 0;

        &:not(:last-child) {
          border-right-color: #960810;
        }
      }
      td {
        text-align: center;
        border: 1px solid #CFCFCF;
        padding: 5px 0;
      }
    }
    //}
    &:nth-child(3),
    &:nth-child(4){
      .filter-list {
        .title {
          color: #4A4A4A;
          margin-bottom: 20px;
        }
        .filter {
          margin-bottom: 10px;
          span {
            padding: 0 5px;
            border: 1px solid #979797;
            border-radius: 2px;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;

            &.active {
              background-color: #D80C18;
              color: #fff;
              border-color: #D80C18;
            }
          }
        }
      }
      table thead tr th {
        width: auto;
      }
    }
  }
//  p {
//    text-indent: 24px;
//  }
}

//.professional span{
//  margin-right: 8px;
//  font-weight: 400;
//  margin: 0;
//  padding: 0;
//}
//.professional p{
//  display: none;
//}
.professional{
  border-bottom: 2px solid #d80c18;
  margin-bottom: 10px;
}
.professional-sub-title {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  line-height: 37px;
  text-align: left;
  margin: 0;
  color: #d80c18;
  padding: 0 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bt3 {
  color: #fff;
  background: #d80c18;
  //  border-bottom: 2px solid #d80c18;
}

.special-content{
  .feature-major{
    width: 50%;
//    min-width: 130px;
//    margin: 0 22px 0 0;

    a{
      color: #333;
      text-decoration: none;
      display: inline-block;
      line-height: 1.2em;
    }
  }

  span{
    display: block;
    float: left;
    padding: 0;
  }

}