//header bar
header {
  position: relative;
  overflow: hidden;

  .header-title {
    padding-left: 46px;
  }
  .header-btn {
    position: absolute;
    height: 25px;
    top: 6px;
    left: 9px;
  }
  .location {
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 1px;
    &.location-icon:before {
      vertical-align: -6px;
      margin-right: 4px;
    }
  }
}
.container {
  color: #707070;
}
.user-info {
  height: 161px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .info-center {
    width: 220px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: #8C8C8C;
    img {
      width: 66px;
      height: 66px;
      border-radius: 50%;
    }
    .name {
      margin-top: 4px;
      margin-bottom: 10px;
    }
    .account {
      color: #4A4A4A;
      font-size: 16px;
    }
  }
  .modify-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 14px;
    border: 1px solid #D80C18;
    color: #D80C18;
    padding: 2px 5px;
    border-radius: 2px;
  }
}
.detail-list li {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 16px;
  border-bottom: 1px solid #E9E4E4;
  a.code-links{
    color: #707070;
    text-decoration: none;
    display: block;
    span:last-child {
      float: right;
    }
    img {
      width: 33px;
      margin-top: 5px;
    }
  }
//  span:last-child {
//    float: right;
//  }

}
.change-password-btn {
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  background-color: #D80C18;
  border: none;
  border-radius: 2px;
  width: 270px;
  margin: 50px auto;
  font-size: 18px;
  &:hover{
    background-color: #B61F28;
  }
}

.mask{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  opacity: 0;
  transition: 1s;
  -moz-transition: 1s;	/* Firefox 4 */
  -webkit-transition: 1s;	/* Safari 和 Chrome */
  -o-transition: 1s;	/* Opera */
  transform: scale(0);
  -ms-transform: scale(0);	/* IE 9 */
  -webkit-transform: scale(0);	/* Safari 和 Chrome */
  -o-transform: scale(0);	/* Opera */
  -moz-transform: scale(0);	/* Firefox */
  &.show{
    transform: scale(1);
    -ms-transform: scale(1);	/* IE 9 */
    -webkit-transform: scale(1);	/* Safari 和 Chrome */
    -o-transform: scale(1);	/* Opera */
    -moz-transform: scale(1);	/* Firefox */
    opacity: 1;
  }
}
.modal{
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  margin-top: 150px;
  position: relative;
}
.close-modal{
  position: absolute;
  right: -15px;
  top: -15px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #d80c18;
  color: #fff;
  font-size: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.modal-title{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e9e4e4;
  color: #5e5e5e;
  font-size: 18px;
}
.modal-body{
  width: 100%;
  text-align: center;
  input {
    width: 87%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e9e4e4;
    -webkit-border-radius: 5px;
    border-radius: 2px;
    color: #5e5e5e;
    margin-top: 15px;
    font-size: 14px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  input[type="text"]{
    padding: 0 10px;
    box-sizing: border-box;
  }
  input[type="button"] {
    background-color: #d80c18;
    text-align: center;
    border: none;
    margin: 20px 0;
    color: #fff;
  }
}

#address{
  line-height: 30px;
}