//header bar
header {
  position: relative;
  overflow: hidden;

  .header-title {
    padding-left: 46px;
  }
  .header-btn {
    position: absolute;
    height: 25px;
    top: 6px;
    left: 9px;
  }
  .location {
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 1px;
    &.location-icon:before {
      vertical-align: -6px;
      margin-right: 4px;
    }
  }
}

.container {
  padding: 52px 26px;
  color: #707070;
  font-size: 14px;

  .form-group {
    margin-bottom: 23px;
    label {
      font-weight: bold;
    }
    .options {
      display: flex;
      margin-top: 7px;
      height: 34px;
      line-height: 34px;

      span {
        flex: 1;
        text-align: center;
        border: 1px solid #979797;
        border-radius: 3px;

        &.active {
          color: #fff;
          background-color: #D80C18;
          border-color: #D80C18;
        }

        &:first-child {
          margin-right: 15px;
        }
      }
    }

    .input {
      margin-top: 7px;
      input {
        width: 100%;
        padding: 9px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #979797;
        outline: none;
      }
    }
  }
  .calculate-btn {
    width: 100%;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #B81C22;
    color: #fff;
    margin-top: 63px;
    border-radius: 3px;
  }
  .info {
    font-size: 12px;
    border-top: 1px solid #D8D8D8;
    margin-top: 68px;
    padding: 27px 12px;
  }
}


.container-header {
  font-size: 13px;
  padding: 22px 20px 0;
  color: #707070;

  .info {
    margin-bottom: 12px;
    label:nth-child(3) {
      margin-left: 16px;
    }
    span {
      color: #D80C18;
    }
  }
}

.container-content {
  padding: 10px 20px;
}
table {
  width: 100%;
  border-collapse:collapse;

  th {
    background-color: #D80C18;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 5px 0px;
    border: 1px solid #D80C18;

    &:not(:last-child) {
      border-right-color: #960810;
    }
  }
  td {
    font-size: 12px;
    text-align: center;
    color: #707070;
    border: 1px solid #CFCFCF;
  }
}

.school-info {
  position: relative;
  left: 0;
  top: 0;
  padding: 0 0 6px;
}
.school-info .name {
  text-align: left;
  padding: 0 0 0 10px;
  margin: 0 0 5px;
  line-height: 20px;
}

a {
  background-color: transparent;
  color: #333;
}
a {
  color: #b90a15;
  text-decoration: none;
}
.school-info .name a {
  color: #333;
}
.school-info .list-type {
padding: 0 0 0 10px;
  text-align: left;
  line-height: 20px;

}
.school-info .list-type span {
  padding: 1px 3px;
  border-radius: 1px;
  margin-right: 2px;
}
.school-info .list-type .type-211 {
  color: #e8380d;
  border: 1px solid #e8380d;
}
.school-info .list-type .type-985{color:#d80c18;border:1px solid #d80c18}
.school-info .list-type .type-yan{color:#ed6c00;border:1px solid #ed6c00}
.school-info .list-type .type-zi{color:#ff9650;border:1px solid #ff9650}
.school-info .list-type .type-guo{color:#ffc286;border:1px solid #ffc286}
.school-info .list-type .type-zhuo{color:#fbcc9d;border:1px solid #fbcc9d}