<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/school-info/style.css"/>
    <style>
        /*header,*/
        /*.container {*/
        /*position: relative;*/
        /*z-index: 9;*/
        /*opacity: 0.6;*/
        /*}*/
    </style>
</head>
<body>
<!--<img src="info.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="menu-icon"></i>
    </div>
    <div class="header-title">
        <span>高考政策</span>
        <span class="location location-icon">陕西</span>
    </div>
    <div class="header-btn search-btn">
        <i class="search-icon"></i>
    </div>
</header>
<div class="container">
    <div class="search-modal hidden">
        <input type="text" placeholder="院校姓名"/>
        <span>取消</span>
        <i class="search-normal-icon"></i>
    </div>
    <div class="backdrop hidden"></div>
    <div class="filter-list">
        <div class="location"><span>院校属地</span></div>
        <div class="category"><span>院校分类</span></div>
        <div class="level"><span>学历层次</span></div>
        <div class="feature"><span>院校特征</span></div>
    </div>
    <div class="info">
        共<span>2057</span>所学校
    </div>
    <ul>
        <li>
            <div class="img">
                <img src="../../../img/school-info/info.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    北京大学
                </div>
                <div class="type-list">
                    <span>985</span>
                    <span>211</span>
                    <span>研</span>
                    <span>自</span>
                    <span>国</span>
                    <span>卓</span>
                </div>
                <div class="footer">
                    <span><i class="location-normal-icon"></i><span>北京市</span></span>
                    <span><i class="flag-icon"></i>排名：1</span>
                </div>
            </div>
            <div class="forecast-btn">
                录取预测
            </div>
        </li>
        <li>
            <div class="img">
                <img src="../../../img/school-info/info.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    北京大学
                </div>
                <div class="type-list">
                    <span>985</span>
                    <span>211</span>
                    <span>研</span>
                    <span>自</span>
                    <span>国</span>
                    <span>卓</span>
                </div>
                <div class="footer">
                    <span><i class="location-normal-icon"></i><span>北京市</span></span>
                    <span><i class="flag-icon"></i>排名：1</span>
                </div>
            </div>
            <div class="forecast-btn active">
                录取预测
            </div>
        </li>
        <li>
            <div class="img">
                <img src="../../../img/school-info/info.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    北京大学
                </div>
                <div class="type-list">
                    <span>985</span>
                    <span>211</span>
                    <span>研</span>
                    <span>自</span>
                    <span>国</span>
                    <span>卓</span>
                </div>
                <div class="footer">
                    <span><i class="location-normal-icon"></i><span>北京市</span></span>
                    <span><i class="flag-icon"></i>排名：1</span>
                </div>
            </div>
            <div class="forecast-btn">
                录取预测
            </div>
        </li>
        <li>
            <div class="img">
                <img src="../../../img/school-info/info.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    北京大学
                </div>
                <div class="type-list">
                    <span>985</span>
                    <span>211</span>
                    <span>研</span>
                    <span>自</span>
                    <span>国</span>
                    <span>卓</span>
                </div>
                <div class="footer">
                    <span><i class="location-normal-icon"></i><span>北京市</span></span>
                    <span><i class="flag-icon"></i>排名：1</span>
                </div>
            </div>
            <div class="forecast-btn">
                录取预测
            </div>
        </li>
        <li>
            <div class="img">
                <img src="../../../img/school-info/info.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    北京大学
                </div>
                <div class="type-list">
                    <span>985</span>
                    <span>211</span>
                    <span>研</span>
                    <span>自</span>
                    <span>国</span>
                    <span>卓</span>
                </div>
                <div class="footer">
                    <span><i class="location-normal-icon"></i><span>北京市</span></span>
                    <span><i class="flag-icon"></i>排名：1</span>
                </div>
            </div>
            <div class="forecast-btn">
                录取预测
            </div>
        </li>
        <li>
            <div class="img">
                <img src="../../../img/school-info/info.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    北京大学
                </div>
                <div class="type-list">
                    <span>985</span>
                    <span>211</span>
                    <span>研</span>
                    <span>自</span>
                    <span>国</span>
                    <span>卓</span>
                </div>
                <div class="footer">
                    <span><i class="location-normal-icon"></i><span>北京市</span></span>
                    <span><i class="flag-icon"></i>排名：1</span>
                </div>
            </div>
            <div class="forecast-btn">
                录取预测
            </div>
        </li>
        <li>
            <div class="img">
                <img src="../../../img/school-info/info.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    北京大学
                </div>
                <div class="type-list">
                    <span>985</span>
                    <span>211</span>
                    <span>研</span>
                    <span>自</span>
                    <span>国</span>
                    <span>卓</span>
                </div>
                <div class="footer">
                    <span><i class="location-normal-icon"></i><span>北京市</span></span>
                    <span><i class="flag-icon"></i>排名：1</span>
                </div>
            </div>
            <div class="forecast-btn">
                录取预测
            </div>
        </li>
    </ul>
</div>
<script src="../../../assets/js/jquery-2.2.2.min.js"></script>
<script>
    $(function(){
        $('.search-btn').on('click', function(){
            if($('.search-modal').hasClass('hidden')){
                $('.search-modal').removeClass('hidden');
                $('.backdrop').removeClass('hidden');
            } else {
                $('.search-modal').addClass('hidden');
                $('.backdrop').addClass('hidden');
            }
        });
        $('.backdrop').on('click', function(){
            $('.search-btn').trigger('click');
        })
    });
</script>
</body>
</html>