header .header-btn {
  position: absolute;
  height: 23px;
  top: 6px;
  left: 9px
}

.container {
  padding: 10px;
  box-sizing: border-box;
  .title {
    font-size: 16px;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
    color: #575757;
    margin-top: 11px;
  }
  .date {
    text-align: center;
    font-size: 12px;
    color: #979797;
    margin-top: 17px;
    line-height: 24px;
  }
  .banner {
    margin-top: 10px;

    img {
      width: 100%;
    }
  }
  .content {
    color: #707070!important;
    margin-top: 2px;
    line-height: 20px;
    p {
      margin: 0;
      font-size: 14px!important;
      text-indent: 27px;
      line-height: 24px!important;
      color: #707070!important;
    }
  }
  .recommend-article {
    margin-top: 20px;
    .header {
      color: #D80C18;
      font-size: 14px;
    }
    .article-list {
      margin-top: 10px;
      color: #707070;
      font-size: 12px;
      line-height: 22px;

      li {
        position: relative;
        padding-left: 10px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #D80C18;
          top: 8px;
          left: 0;
        }
      }
    }
  }
}

