html {
  height: 100%;
  background-color: #F6F6F6;
}
//header bar
header {
  position: relative;
  overflow: hidden;
  z-index: 3;

  .header-title {
    padding-left: 46px;
  }
  .header-btn {
    position: absolute;
    &:first-child {
      height: 25px;
      top: 6px;
      left: 9px;
    }
    &:last-child {
      width: 25px;
      height: 25px;
      top: 7px;
      right: 13px;
      left: auto;
      cursor: pointer;
    }
  }
  .location {
    font-size: 12px;
    vertical-align: 2px;
    margin-left: 1px;
    &.location-icon:before {
      vertical-align: -6px;
      margin-right: 4px;
    }
  }
}
.filter-list {
  background-color: #fff;
  display: flex;
  font-size: 12px;
  color: #8C8C8C;
  border-bottom: 1px solid #CFCFCF;
  position: relative;
  z-index: 3;

  .school-location-btn,
  .category,
  .level,
  .feature {
    flex: 1;
    text-align: center;
    height: 28px;
    line-height: 28px;
    position: relative;
    border-right: 1px solid #CFCFCF;
    margin: 4px 0;
    padding-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:after {
      content: "";
      border-top: 6px solid #8C8C8C;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-bottom: none;
      position: absolute;
      top: 13px;
      right: 5px;
    }
    &:before {
      content: "";
      border-top: 6px solid #fff;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-bottom: none;
      position: absolute;
      top: 12px;
      right: 5px;
      z-index: 1;
    }
    &.active {
      color: #D51323;
      &:after {
        border-bottom: 6px solid #D51323;
        border-top: none;
      }
      &:before {
        border-top: none;
        border-bottom: 6px solid #fff;
        top: 14px;
      }
    }
  }

  .feature{
    border-right: none;
  }
}

.info {
  font-size: 12px;
  color: #575757;
  padding: 6px 11px;
  span {
    color: #D51323;
  }
}
.container > ul > li {
  padding: 7px;
  background-color: #fff;
  position: relative;
  margin-bottom: 5px;
}
.container .img,
.summary {
  display: inline-block;
}
.container .img {
  width: 72px;
  vertical-align: top;
  border-radius: 3px;
  height: 70px;

  img {
    width: 100%;
  }
}
.summary {
  margin-left: 3px;
  width: calc(100% - 160px);

  .title {
    font-size: 15px;
    color: #575757;
    font-weight: bold;
    margin-top: 3px;
  }
  .type-list {
    font-size: 12px;
    margin-top: 10px;

    span {
      border: 1px solid;
      padding: 0 2px;
      margin-bottom: 2px;
      border-radius: 2px;
//      &:nth-child(1) {
//        border-color: #D80C18;
//        color: #D80C18;
//      }
//      &:nth-child(2) {
//        border-color: #E7380F;
//        color: #E7380F;
//      }
//      &:nth-child(3) {
//        border-color: #ED6C00;
//        color: #ED6C00;
//      }
//      &:nth-child(4) {
//        border-color: #FF9550;
//        color: #FF9550;
//      }
//      &:nth-child(5) {
//        border-color: #FFC286;
//        color: #FFC286;
//      }
//      &:nth-child(6) {
//        border-color: #FCCA9E;
//        color: #FCCA9E;
//      }
    }
  }
  .footer {
    font-size: 8px;
    color: #8C8C8C;
    margin-top: 6px;

    i {
      margin-right: 3px;
    }
    span:first-child {
      margin-right: 10px;
    }
    span.province{
      display: inline-block;
      max-width: 60px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      top: 4px;
    }
  }
}
.forecast-btn {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 12px;
  color: #D80C18;
  width: 65px;
  height: 40px;
  border: 1px solid #D80C18;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;

  &.active {
    background-color: #D80C18;
    color: #fff;
  }
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #000;
  opacity: .6;
}
.search-modal {
  position: absolute;
  z-index: 99;
  background-color: #D80C18;
  top: 0;
  height: 46px;
  line-height: 46px;
  width: 100%;
  color: #fff;
  font-size: 15px;
  padding: 0 10px;

  input {
    outline: none;
    border-radius: 30px;
    border: none;
    padding: 5px 5px 5px 27px;
    width: calc(100% - 95px);
    height: 25px;
    line-height: 25px;
    margin-top: 6px;
  }
  span {
    margin-left: 10px;
  }
  i {
    position: absolute;
    left: 12px;
    top: 9px;
  }
}
.school-location-modal {
  background-color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 33px;
  .location-list {
    padding: 20px;
    li {
      display: inline-block;
      border: 1px solid #979797;
      border-radius: 3px;
      padding: 5px;
      margin: 0 10px 10px 0;
      font-size: 12px;
      color: #979797;
      cursor: pointer;
      position: relative;

      &.active {
        background-color: #D80C18;
        color: #fff;
        border-color: #D80C18;
      }
    }
  }
}
.relative {
  position: relative;
}
.school-list li{
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
}

.school-info .list-type .type-211 {
  color: #e8380d;
  border: 1px solid #e8380d;
}
.type-list span.type-985{color:#d80c18;border:1px solid #d80c18}
.type-list span.type-yan{color:#ed6c00;border:1px solid #ed6c00}
.type-list span.type-zi{color:#ff9650;border:1px solid #ff9650}
.type-list span.type-guo{color:#ffc286;border:1px solid #ffc286}
.type-list span.type-zhuo{color:#fbcc9d;border:1px solid #fbcc9d}

.pull{
  width: 100%;
  text-align: center;
  .pull-text{
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #8C8C8C;
    font-size: 12px;
  }
}

.infinite-scroll-preloader {
  text-align: center;
  display: none;
}

.preloader {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s steps(12, end) infinite;
  animation: preloader-spin 1s steps(12, end) infinite;
}
.preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
@-webkit-keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.title a,.forecast-btn a{
  text-decoration: none;
  color: inherit;
}