<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/policy-detail/style.css"/>
    <style>
        /*header,*/
        /*.container {*/
        /*position: relative;*/
        /*z-index: 9;*/
        /*opacity: 0.6;*/
        /*}*/
    </style>
</head>
<body>
<!--<img src="detail.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="back-icon"></i>
    </div>
    <div class="header-title">
        <span>高考政策</span>
    </div>
    <div class="header-btn">
        <i class="search-icon"></i>
    </div>
</header>
<div class="container">
    <div class="title">
        2016年湖南高考新政策：恢复使用全国卷
    </div>
    <div class="date">2016年3月3日  14:24分</div>
    <div class="banner">
        <img src="../../../img/policy-detail/detail.png" alt=""/>
    </div>
    <div class="content">
        <p>
            近日，湖南省委全面深化改革领导小组第十三次会议召
            开，会议审议通过了《湖南省教育综合改革方案(2015-
            2020年)》，这意味着，2016年湖南高考新政策：恢复
            使用全国卷。
        </p>
        <p>
            本 次我省教育综合改革方案提出，将建立多元化的
            高考录取机制，高校招生录取将与高中学习相关联，考
            生总成绩，由统一高考的语文、数学、外语三个科目,加
            上考生自主选择的高中学业水平考试三个科目成绩组成，
            并且，综合素质评价将纳入高校招生录取体系。以此促
            进高校选拔有学科特长和创新潜质的学生，破解“唯分数
            论”“一考定终身”。株洲教育科学研究院院长 吴刘光明
            说，此次改革意味着我省招生考试将迎来重大变,省内自
            主高考命题将过渡到使用全国统一高考命题试卷。
        </p>
    </div>
    <div class="recommend-article">
        <div class="header">推荐阅读：</div>
        <ul class="article-list">
            <li>湖南未来5年教改方案已经发布</li>
            <li>2016湖南教改新方案</li>
            <li>2017湖南高考改革政策：不分文理科 考试科目自行</li>
            <li>湖南未来5年教改方案已经发布</li>
            <li>
                湖南未来5年教改方案已经发布
            </li>
        </ul>
    </div>
</div>
</body>
</html>