<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../dist/css/policy/style.css"/>
    <style>
    /*header,*/
    /*.container {*/
    /*position: relative;*/
    /*z-index: 9;*/
    /*opacity: 0.6;*/
    /*}*/
    </style>
</head>
<body>
<!--<img src="policy.png" style="position: absolute;width: 100%;top: -51px;"/>-->
<header>
    <div class="header-btn">
        <i class="menu-icon"></i>
    </div>
    <div class="header-title">
        <span>高考政策</span>
        <span class="location location-icon">陕西</span>
    </div>
</header>
<div class="container">
    <ul>
        <li>
            <div class="img">
                <img src="../../../img/policy/img.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    2015年湖南高考新的政策
                </div>
                <div class="content">湖南省委全面深化改革领导小组第十三次会议召开... </div>
                <div class="date">
                    <span>2016年3月3日</span>
                    <span>14:28分</span>
                </div>
            </div>
        </li>
        <li>
            <div class="img">
                <img src="../../../img/policy/img.png" alt=""/>
            </div>
            <div class="summary">
                <div class="title">
                    2015年湖南高考新的政策
                </div>
                <div class="content">湖南省委全面深化改革领导小组第十三次会议召开... </div>
                <div class="date">
                    <span>2016年3月3日</span>
                    <span>14:28分</span>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>