header {
  position: relative;
  overflow: hidden; }
header .header-title {
  padding-left: 46px; }
header .header-btn {
  position: absolute;
  height: 25px;
  top: 6px;
  left: 9px; }
header .location {
  font-size: 12px;
  vertical-align: 2px;
  margin-left: 1px; }
header .location.location-icon:before {
  vertical-align: -6px;
  margin-right: 4px; }

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container{
  padding: 20px;
  .wrapper{
    h6{
      text-align: center;
      color: #D80C18;
      font-size: 16px;
      margin: 0 0 20px 0;
    }
    p{
      color: #575757;
      font-size: 12px;
      line-height: 1.5;
    }
    .img{
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }
    .paragraph-title{
      height: 15px;
      line-height: 15px;
      font-size: 16px;
      color: #D80C18;
      border-left: 4px solid #D80C18;
      padding-left: 8px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  }
}

.buy-bottom{
  position: fixed;
  width: 100%;
//  background: #fff;
  left: 0;
  bottom: 0;
//  border-top: 1px solid #D8D8D8;
  background: #fff url("../../img/icons/icon_liner.jpg") top center repeat-x;
  .buy-info{
    padding: 10px;
    overflow: hidden;
    .left{
      float: left;
    }
    .icon-address{
      display: inline-block;
      width: 34px;
      height: 46px;
      background: url("../../img/icons/icon_address.png") center center no-repeat;
      background-size: 20px auto;
    }
    .icon-into{
      display: inline-block;
      width: 16px;
      height: 46px;
      background: url("../../img/icons/icon_into.png") center center no-repeat;
      background-size: 10px auto;
    }
    .address-info{
      display: table;
      height: 46px;
      width: calc(100% - 60px);
      color: #575757;
      font-size: 16px;
      line-height: 1.5;
    }
    .vertical{
      display: table-cell;
      vertical-align: middle;
    }
    .buy-num {
      font-size: 16px;
      float: left;
      height: 35px;
      line-height: 35px;
      span{
        display: inline-block;
        height: 35px;
        line-height: 35px;
        &.text{
          position: relative;
          top: -10px;
        }
        &.number{
          width: 40px;
          text-align: center;
          position: relative;
          top: -10px;
        }
        &.subtraction{
          width: 35px;
          background: url("../../img/icons/sub_disabled.png") center center no-repeat;
          background-size: 35px;
        }
        &.subtractionabled {
          width: 35px;
          background: url("../../img/icons/sub_able.png") center center no-repeat;
          background-size: 35px;
        }
        &.plus-able{
          width: 35px;
          background: url("../../img/icons/plus.png") center center no-repeat;
          background-size: 35px;
        }
        &.plus-abled{
          width: 35px;
          background: url("../../img/icons/plus_abled.png") center center no-repeat;
          background-size: 35px;
        }
      }
    }
    .buy-price{
      float: right;
      font-size: 16px;
      color: #D80C18;
      height: 35px;
      line-height: 35px;
    }
  }
  .buy-action{
    width: 100%;
    overflow: hidden;
    .buy-shopping{
      float: left;
      width: 75%;
      height: 40px;
      line-height: 25px;
      padding: 10px 10px 10px 50px;
      background: #F5A623 url("../../img/icons/shopping-car.png") left center no-repeat;
      background-size: 20px auto;
      background-position-x: 10px;
      font-size: 18px;
      color: #fff;
      .sub-price{
        font-size: 14px;
      }
    }
    .buy-go{
      float: left;
      width: 25%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #D80C18;
      font-size: 18px;
      color: #fff;
    }
  }
}

.modal-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10600;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  &.modal-overlay-visible{
    visibility: visible;
    opacity: 1;
  }
}
.modal{
  width: 300px;
  height: 240px;
  position: fixed;
  z-index: 11000;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -120px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
  transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  background: #fff;
  font-size: 16px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  &.modal-in{
    opacity: 1;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }
  .modal-title{
    width: 100%;
    background: #D80C18;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
  }
  .modal-body{
    width: 100%;
    .info{
      margin: 0;
      padding: 0;
      color: #D80C18;
      font-size: 18px;
      text-align: center;
      line-height: 2;
      padding: 30px 20px;
    }
    .btn{
      width: 80%;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      background: #D80C18;
      border-radius: 5px;
      -webkit-border-radius: 5px;
    }
  }
}